.bulletin {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    font-size: 15px;
    line-height: 36px;
    color: #555;
    padding: 2px 15px;
}

.systemtool {
    span {
        margin-left: 10px;
    }
}

